@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.encabezado{
    background-color:#1CD1B0;
    height: 38px;
    margin: 0;
    font-size: 15px;
}
.fijo{
height: 101px;
padding-top: 20px;
top: 38px;
background: #00669F;
}
.fijo article{
width: 128px;
margin-left: 30px;
font-size: 40px;
}
.container{

height: 20px ;
margin-top: 90px;
display: flex;
justify-content: space-evenly;

}
.cont{
  position: relative;
 width: 300px;
background-color: #F3F3F3;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
height: 520px;
margin-left: 20px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.img1{
         z-index: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        
}
.img2{
  position: relative;
    border-radius: 100%;
    width: 40%;
    /* top: 330px; */
   bottom: 80px;
    left: 90px;
}
.corazon{
     position: absolute;
    z-index: 1;
    /* margin-top: 40px; */
    padding: 10px;
    left: 20px;
}

.Nombre{
  font-weight: 400;
      text-align: center;
    padding: 0px;
    margin-top: -70px;
}

div p{
    padding: 15px;
    font-size: 16px;
}

.vinculo{
  margin: 0 auto;
  width: 120px;
  height: 50px;
  padding: 15px;
  background-color: #00669F;
  position: relative;
  top: 30px;
}
.vinculo a{

  text-decoration: none;
  color: white;
  position: relative;
 font-size: 15px;
 border-radius: 4px;
 text-align: center;
 display: block;

}

footer{
  position: absolute;
  background-color: #00669F;
  top: 972px;
  height: 51px;
  color: #fff;
  display: block;
  width: 100%;

 }

 footer p{
      padding: 15px;
      font-size: 16px;
      font-weight: normal;
 }